* {
    font-family: sans-serif;
}

body {
    background-color: #CCCCCC;
}
.atas {
    background-color:#000;  
    color: #FF6F61;
    padding: 5px 100px;
    
}
.batas {
    width: 1070px;
    margin: auto;
}
.header {  
    background-color: #FFF;
    color: #254383;
    font-family: arial;
    padding: 20px;    
}
.list {
    background-color:#254383 ;
    color: #FFF;
    margin: auto;
    height: auto;
    margin-bottom: 5px;
}
    .list ul {
        list-style-type: none;
        margin: 0;        
        overflow: hidden;
    }
    .list ul li {
        float: left;        
    }
    .list ul li a  {
        display:block;
        color:white;
        text-align:left;
        font-size: 1.25rem;
        padding: 15px;
        text-decoration:none;
    }
    li.dropdow div.dropdowco a {
        color: black;
    }
    li.dropdow div.dropdowco a:hover {
        color: white;
    }
    .list ul li a:hover{
        background-color: #000000;
    }
    
    .dropdow {
        display: inline-block;
    }
    .dropdowco {
        display: none;
        position: absolute;
        background-color: #FFF;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);        
        z-index: 1;
    }   
    .dropbtn  {
        color: black;
    }
    .dropdow:hover .dropdowco {
        display: block;
    }

.content {
    margin: auto;
    width: 1070px;
}
.kanan{
    width: 300px;
    /* height: 200px; */
    background-color:#fff;
    float :right;   
    padding: 10px; 
    border-radius: 5px;
    /* transition: 2s; */
}
.kiri{
    width: 700px;
    /* height: 400px; */
    background-color: #fff;    
    float :left;      
}

.isi{
    
    color: #000;
    border-radius: 5px;
    border-color: #000;
    padding: 10px;
    margin : 15px;    
    background-color: #edf1f2;
}
.isi a {
    text-decoration: none;
    color: black;
    
}
.isi:hover {
    background-color: #edf1f2;
}
.isi p {
    text-align: justify;
}


.isi2   {    
    margin: 15px;    
    color: #000;
    font-family: cursive;
}

.isi2 a {
    background-color: #fff;
    display: block;
    text-decoration: none;
    color: #000; 
    padding: 10px;
    margin: auto;   
}
.isi2 a:hover {
    background-color: #edf1f2;
    border-radius: 10px;
    /* color: #fff; */
    /* transition: 0.5s; */
    text-decoration: underline;
}

.galeri {
    margin: 5px;
    border: 1px solid #000;
    float: left;
    height: 180px;
    width: 180px;
}

.desc {
    padding: 10px;
    text-align: center;
    
}

.kaki{
    background-color:#333333;
    color: #fff;
    padding: 25px 50px;
    text-align: left;    
    margin: auto;
}

.clear {
    clear:both;
    float:none;
}

.halaman {
    display: inline-block;
}
    .halaman a {
        color: black;
        /* float: left; */
        padding: 8px 16px;
        text-decoration: none;
        
    }
    .halaman a.active {
        background-color: #254383;
        color: white;
    }
    .halaman a:hover:not(.active){
        background-color: #ddd;
    }

    .center {
        text-align: center;
    }